<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_MegaMenu>
            <version>1.0.0.0</version>
        </MageProfis_MegaMenu>
    </modules>
    <global>
        <blocks>
            <megamenu>
                <class>MageProfis_MegaMenu_Block</class>
            </megamenu>
        </blocks>
        <helpers>
            <megamenu>
                <class>MageProfis_MegaMenu_Helper</class>
            </megamenu>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <megamenu>
                    <file>mageprofis-megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <module>MageProfis_MegaMenu</module>
                    <frontName>dropdown</frontName>
                </args>
            </megamenu>
        </routers>   
    </frontend>
    <adminhtml>
       <translate>
           <modules>
               <translations>
                   <files>
                       <default>MageProfis_MegaMenu.csv</default>
                   </files>
               </translations>
           </modules>
       </translate>
    </adminhtml>
</config>
